<% wrap_layout :layout do %>
  <article class="post">

    <header class="header">
      <h1 class="header-title"><%= current_page.data.title %></h1>
      <p class="header-meta">presented by <%=current_page.data.author %> at <%=current_page.data.venue %></p>
    </header>

    <div class="video">
      <iframe width="640" height="480" src="https://www.youtube-nocookie.com/embed/<%= current_page.data.video %>?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="tags">
      <% if current_page.data.slides %>
        <div class="slides">
            <%= link_to "", current_page.data.slides, class: "fa fa-file-powerpoint-o not-dotted", title: "Slides" %>
        </div>
      <% end %>
      <i class="fa fa-tags"></i>
      <% current_page.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <div class="navigation">
      <% if current_page.previous_article %>
        <button href="<%= current_page.previous_article.url %>" class="button navigation-previous">
          <%= current_page.previous_article.data.author %>: <%= current_page.previous_article.title %>
        </button>
      <% end %>
      <% if current_page.next_article %>
        <button href="<%= current_page.next_article.url %>" class="button navigation-next">
          <%= current_page.next_article.data.author %>: <%= current_page.next_article.title %>
        </button>
      <% end %>
    </div>

  </article>
<% end %>
