<% wrap_layout :layout do %>
  <article class="post">

    <header class="header">
      <h1 class="header-title"><%= link_to current_page.data.title, current_page %></h1>
      <p class="header-meta">presented by <%=current_page.data.author %> at <%=current_page.data.venue %></p>
    </header>
    <div class="video">
      <% if current_page.data.youtube %>
          <iframe width="640" height="480" src="https://www.youtube-nocookie.com/embed/<%= current_page.data.video %>?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allowfullscreen></iframe>
      <% elsif current_page.data.vimeo  %>
          <iframe width="640" height="480" src="https://player.vimeo.com/video/<%= current_page.data.vimeo %>?byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
      <% end %>
    </div>

    <div class="tags">
      <% if current_page.data.slides %>
        <div class="slides">
            <%= link_to "", current_page.data.slides, class: "fa fa-file-powerpoint-o not-dotted", title: "Slides" %>
        </div>
      <% end %>
      <i class="fa fa-tags"></i>
      <% current_page.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag), class: "dotted" %>
      <% end %>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <div class="navigation">
      <% if current_page.previous_article %>
        <a href="<%= current_page.previous_article.url %>" class="button navigation-previous">
          <%= current_page.previous_article.data.author %>: <%= current_page.previous_article.title %>
        </a>
      <% end %>
      <% if current_page.next_article %>
        <a href="<%= current_page.next_article.url %>" class="button navigation-next">
          <%= current_page.next_article.data.author %>: <%= current_page.next_article.title %>
        </a>
      <% end %>
    </div>
    
    <div class="discuss">
      <p>
        Do you have anything to add? What did you find the most interesting? Maybe you have questions?
      </p>
      <h3>Please, join the discussion below!</h3>
    </div>
    <%= disqus %>
  </article>
<% end %>
